{
	"tabWidth": 4,
	"useTabs": true,
	"bracketSameLine": true,
	"printWidth": 120,
	"semi": false,
	"trailingComma": "none",
	"arrowParens": "always",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": ["./app/doc.ts"],
			"options": {
				"printWidth": 90
			}
		}
	],
	"plugins": ["prettier-plugin-organize-imports"]
}
