{
	"overrides": [
		{
			"files": ["*"],
			"options": {
				"tabWidth": 4,
				"useTabs": true,
				"bracketSameLine": true,
				"printWidth": 70,
				"arrowParens": "always",
				"bracketSpacing": true,
				"experimentalTernaries": true
			}
		},
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	],
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-organize-imports"
	]
}
